h1 {
    text-align: center;
}
body{
    font-family: sans-serif; 
}
#after_submit {
    visibility: hidden;
}
h2 {
    border: dotted;
    text-align: center;
    background-color: blueviolet;
    border-bottom-width: 2px;
}
