
.bg{
    background-image: no-repeat;
    width: 100%;
    height: 100vh;
}
.form-container{
    border:1px solid;
    color: #fff;
    padding: 50px 60px;
    margin-top:20vh;
    box-shadow: 1px 4px 26px 11px;
    -webkit-box-shadow: 1px 4px 26px 11px;
    -moz-box-shadow: 1px 4px 26px 11px;
}
h1{
    text-align: center;
    border: dotted;
    color: black;
    background-color: maroon;
}
