h1 {
    text-align: center;
}
body{
    font-family: sans-serif; 

}
#after_submit {
    visibility: hidden;
}
h2 {
    text-align: center;
    background-color: darkolivegreen; 
    border-bottom-width: 2px;
}

